<div class="navbar">
  <mat-toolbar class="mat-elevation-z8">
    <div class="navbar__content">
      <div>
        <h1>TaskBoard</h1>
      </div>
      <div>
        <h3>Welcome {{ name }}! 😉</h3>
      </div>
      <div>
        <h3>Age: {{ age }} 🎉</h3>
      </div>
      <div>
        <button mat-button color="primary" (click)="logOut()">
          <img class="material-icons" src="../../../../assets/images/svg/meeting_room.svg">
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
