<div class="sign-up">
  <form [formGroup]="signUpForm">
    <mat-card class="sign-up__card mat-elevation-z8">
      <div class="sign-up__card-title">
        <mat-card-title>Sign up</mat-card-title>
      </div>
      <div class="sign-up__card-name">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" autocomplete="off">
          <mat-error *ngIf="signUpForm.controls.name.hasError('required')">
            Name is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="sign-up__card-birth-date">
        <mat-form-field>
          <mat-label>Birt date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" [max]="maxDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="signUpForm.controls.birthDate.hasError('required')">
            Birth date is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="sign-up__card-username">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" autocomplete="off">
          <mat-error *ngIf="signUpForm.controls.username.hasError('required')">
            Username is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="sign-up__card-password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off">
          <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="signUpForm.controls.password.hasError('minlength')">
            Password too short.
          </mat-error>
          <mat-error *ngIf="signUpForm.controls.password.hasError('maxlength')">
            Password too large, but you must remember it.
          </mat-error>
          <mat-error *ngIf="signUpForm.controls.password.hasError('pattern')">
            Password must be very strong.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-error *ngIf="errorModel && errorModel.message">
          {{ errorModel.message | titlecase }}
        </mat-error>
      </div>
      <div class="sign-up__card-button">
        <div class="cancel">
          <button type="button" [routerLink]="['/auth/sign-in']" mat-raised-button>Cancel</button>
        </div>
        <div>
          <button [disabled]="!signUpForm.valid" (click)="onSignUp()" mat-raised-button color="primary">
            Sign up
          </button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
