@import '../../../../assets/scss/utilities/mixins';

.sign-in {

  @include e('card') {
    width: 100%;

    @include gc('title') {
      margin-bottom: 30px;
      color: #001f3f;
    }

    @include gc('username') {

      margin-bottom: 10px;

      .mat-form-field {
        display: block;
        position: relative;
      }
    }

    @include gc('password') {

      .mat-form-field {
        display: block;
        position: relative;
      }
    }

    @include gc('error') {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      color: tomato;
      border: 1px solid tomato;
      border-radius: 5px;
      padding: 5px;

      p {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }

    @include gc('register') {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      color: #001f3f;

    }

    @include gc('button') {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
}
